.App {
  text-align: center;
  background-color: #ededed;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.event-list {
  list-style: none;
}

.event-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 32%;
  box-sizing: border-box;
}

.event-item img {
  width: 100%;
  height: 200px;
}

.event-title {
  font-size: 24px;
  font-weight: normal;
}

.event {
  text-decoration: none;
  color: #030303;
  box-sizing: border-box;
}

.event:hover {
  color: #4b00d0;
}

.event:hover .event-item {
  border: 1px solid #4b00d0;
}
